

#server {
 #   listen ${PORT} default_server;

  #  charset utf-8;

   # location / {
    #    root   /usr/share/nginx/html;
     #   index  index.html index.htm;
    #}

#}



server {
    listen ${PORT} default_server;

    location / {
        proxy_pass http://localhost:3000;
    }

}
